
    body {
      margin: 0;
      font-family: Arial, sans-serif;
      background: linear-gradient(135deg, #f5f7fa, #c3cfe2);
    }

    h1 {
      text-align: center;
      padding: 20px;
      color: #333;
    }

    h2 {
      color: #48058f;
      margin: 10px 0;
      text-align: center;
      font-size: 26px;
    }
    h3 {
      color: #48058f;
      margin: 10px 0;
      text-align: center;
      font-size: 24px;
    }
    h4 {
      color: #680909;
      margin: 10px 0;
      font-size: 22px;
    }
    h5 {
      color: #680909;
      margin: 10px 0;
      font-size: 20px;
    }

    .container {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
      gap: 20px;
      padding: 20px;
      max-width: 1000px;
      margin: auto;
    }

    .card {
      background: white;
      border-radius: 15px;
      padding: 20px;
      text-align: center;
      cursor: pointer;
      transition: 0.3s;
      box-shadow: 0 8px 20px rgba(0,0,0,0.1);
      font-size: 22px;
      
    }

    .card:hover {
      transform: translateY(-5px) scale(1.03);
    }

    .card h2 {
      margin: 10px 0;
      font-size: 22px;
      color: #680909;
    }

    .emoji {
      font-size: 40px;
    }

    /* Цвета дней */
    .monday { background: #e3f2fd; }
    .tuesday { background: #e8f5e9; }
    .wednesday { background: #fff3e0; }
    .thursday { background: #fce4ec; }
    .friday { background: #e0f7fa; }
    .saturday { background: #fff8e1; }
    .sunday { background: #f3e5f5; }

    a {
      text-decoration: none;
      color: inherit;
    }

    .flex {
  display: flex;
  justify-content: space-around;
  gap: 10px;
}

ul, ol {
  font-size: 18px;
  padding: 0;
  margin-left: 30px;
}

ol li{
  line-height: 1.6;
  margin-left: 8%;
}

.video {
  display: block;
  margin: 20px auto;
  width: 80%;
}

.video iframe {
  width: 100%;
  margin: 0 auto;
  height: 515px;
}